<a href="https://colab.research.google.com/github/th1ran13/webscrapping/blob/main/webscrappingtry.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import openpyxl
import lxml
from bs4 import BeautifulSoup

In [ ]:
excel = openpyxl.Workbook()
sheet = excel.active
sheet.title = 'Top Fantacy Movies'
sheet.append(['Movie Name' , 'Year' , 'RT' , 'Directed By'])


url = 'https://editorial.rottentomatoes.com/guide/best-fantasy-movies-of-all-time/'
headers = {'User-Agent': 'Mozilla/5.0 (iPad; CPU OS 12_2 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148'}

try:
  source = requests.get(url)
  soup = BeautifulSoup(source.content , 'html.parser')
  #print(soup)

  movies = soup.findAll('div' , class_ = 'col-sm-18 col-full-xs countdown-item-content')
  #print(movies)
  print(movies[0])
  #first = movies[0]
  #print(first.h2.span)
  for movie in movies:
    movie_name = movie.find('div' , class_ = 'article_movie_title').h2.text
    #print(movie_name)
    movie_year = movie.find('span' , class_ = 'subtle start-year').text.strip('()')
    #print(movie_year)
except Exception as e:
  print(e)

<div class="col-sm-18 col-full-xs countdown-item-content">
<div class="row countdown-item-title-bar">
<div class="col-sm-20 col-full-xs" style="height: 100%;">
<div class="article_movie_title" style="float: left;">
<div><h2><a href="https://www.rottentomatoes.com/m/the-fall-2008">The Fall</a> <span class="subtle start-year">(2006)</span> </h2></div></div></div></div></div>

In [105]:
excel = openpyxl.Workbook()
sheet = excel.active
sheet.title = 'Top Fantacy Movies'
sheet.append(['Movie Name' , 'Year' , 'RT'])


url = 'https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc'
headers = {'User-Agent': 'Mozilla/5.0 (iPad; CPU OS 12_2 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148'}

try:
  source = requests.get(url)
  soup = BeautifulSoup(source.content , 'html.parser')
  #print(soup)

  movies = soup.findAll('div' , class_ = 'lister-item mode-advanced')
  #print(movies)
  #print(movies[0])
  #first = movies[0]
  #print(first.h2.span)
  for movie in movies:
    movie_name = movie.find('div' , class_ ='lister-item-content').h3.a.text
    #print(movie_name)
    movie_year = movie.find('span' , class_ ='lister-item-year text-muted unbold').text.strip('()')
    #print(movie_year)
    movie_rate = movie.find('div' , class_ = 'ratings-bar').strong.text
    #print(movie_rate)

    #print(movie_name , movie_year , movie_rate)
    sheet.append([movie_name , movie_year , movie_rate])
except Exception as e:
  print(e)


excel.save('IMDb Top 100 Movies.xlsx')

The Shawshank Redemption 1994 9.3
The Godfather 1972 9.2
The Dark Knight 2008 9.0
The Lord of the Rings: The Return of the King 2003 9.0
Schindler's List 1993 9.0
The Godfather Part II 1974 9.0
12 Angry Men 1957 9.0
Pulp Fiction 1994 8.9
Inception 2010 8.8
The Lord of the Rings: The Two Towers 2002 8.8
Fight Club 1999 8.8
The Lord of the Rings: The Fellowship of the Ring 2001 8.8
Forrest Gump 1994 8.8
The Good, the Bad and the Ugly 1966 8.8
The Matrix 1999 8.7
Goodfellas 1990 8.7
Star Wars: Episode V - The Empire Strikes Back 1980 8.7
One Flew Over the Cuckoo's Nest 1975 8.7
Interstellar 2014 8.6
City of God 2002 8.6
Spirited Away 2001 8.6
Saving Private Ryan 1998 8.6
The Green Mile 1999 8.6
Life Is Beautiful 1997 8.6
Se7en 1995 8.6
Terminator 2: Judgment Day 1991 8.6
The Silence of the Lambs 1991 8.6
Star Wars 1977 8.6
Harakiri 1962 8.6
Seven Samurai 1954 8.6
It's a Wonderful Life 1946 8.6
Parasite 2019 8.5
Whiplash 2014 8.5
The Intouchables 2011 8.5
The Prestige 2006 8.5
The Departed 2006 8.5
The Pianist 2002 8.5
Gladiator 2000 8.5
American History X 1998 8.5
The Usual Suspects 1995 8.5
LÃ©on: The Professional 1994 8.5
The Lion King 1994 8.5
Cinema Paradiso 1988 8.5
Grave of the Fireflies 1988 8.5
Back to the Future 1985 8.5
Apocalypse Now 1979 8.5
Alien 1979 8.5
Once Upon a Time in the West 1968 8.5
Psycho 1960 8.5
Rear Window 1954 8.5

In [ ]:
excel = openpyxl.Workbook()
sheet = excel.active
sheet.title = "Product Details"
sheet.append(['Product Name' , 'New Price' , 'Old Price' , 'Discount'])

try:
  source = requests.get(url)
  #source.raise_for_status()

  soup = BeautifulSoup(source.content , "html.parser")
  #print(soup)

  products = soup.find_all('div' , class_ = 'product-tile__tile-body')
  #print(products)

  for product in products:
    product_name = product.find('a' , class_ = "titleColumn").text
    print(product_name)  
except Exception as e:
  print(e)

<Response [403]>